*.o
*.lo
*.la
*.so*
*.a
*~
.#*
*#*#
config.log
config.status
Makefile
Makefile.in
.deps
INSTALL
missing
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
libtool
ltmain.sh
.libs
stamp*
config.*
*.tar.*
core*
doc/*.t2p/
doc/*.info
doc/*.pdf
doc/mdate-sh
doc/texinfo.tex
doc/version.texi
lib/MaRC/map_version.cc
src/lexer.cc
src/parse.cc
src/parse.h*
src/marc
test-driver
tests/Data_Type_Test
tests/Data_Type_Test.log
tests/Data_Type_Test.trs
tests/MaRC_Prog_Test.sh.*
tests/NaN_Test
tests/NaN_Test.log
tests/NaN_Test.trs
tests/test-suite.log
tests/test_map.fits
ylwrap
