# Prerequisites
*.d

# Object Files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Gcov Data Files
*.gcda
*.gcno
MaRC-*-coverage*

# Executables
*.exe
*.out

# Emacs Backup Files
*~
.#*
*#*#

# GNU Autotool Files
config.log
config.status
Makefile
Makefile.in
.deps
INSTALL
missing
aclocal.m4
aminclude_static.am
autom4te.cache/
compile
configure
depcomp
install-sh
libtool
ltmain.sh
.libs
stamp*
config.*
ylwrap
*.tar.*
marc-*/
doc/mdate-sh
doc/texinfo.tex
doc/version.texi

# pkg-config Files
lib/marc/marc.pc

# Documentation
README
doc/*.t2p/
doc/*.info
doc/*.pdf
doc/doxygen/

# Scanner (Flex) and Parser (GNU Bison) Files
src/lexer.cc
src/lexer.hh
src/parse.cc
src/parse.h*

# MaRC Program
src/marc

# Test Files
test-driver
*.log
*.trs
tests/marc_test
tests/test-suite.log
tests/test_*map*.fits

# Core Dump Files
core*
!core.h
