*.o
*.lo
*.la
*.so*
*.a
*~
*#*#
config.log
config.status
Makefile
Makefile.in
.deps
INSTALL
missing
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
libtool
ltmain.sh
.libs
stamp*
config.*
!src/config.h
*.tar.*
core*
doc/*.t2p/
doc/*.info
doc/*.pdf
doc/mdate-sh
doc/texinfo.tex
doc/version.texi
lib/MaRC/map_version.cc
test-driver
ylwrap
